<h2>Index of Classrooms</h2>

<% @classrooms.each do |classroom| %>
  
  <p><%= link_to(classroom.name, classroom_path(classroom)) %></p>

<% end %>

<% if can? :manage, Classroom %>

  <p><%= link_to('New Classroom', new_classroom_path) %></p>
    
<% end %>