<h2>All Bookings</h2>

<table>
  <tr>
  <td>User</td>
  <td>Course</td>
  </tr>
  <% @bookings.each do |booking| %>
  <tr>
  <td><%= booking.user.name %></td>
  <td><%= booking.course.name %></td>
  </tr>
  <% end %>
</table>