<h2>Courses Available</h2>

<div class="course">
  
  <% @courses.each do |course| %>
    <% if can? :manage, course %>
      <%= link_to('Add New Course', new_course_path) %>
    <% end %>
  <% end %>
  
</div>

<div class="courses">
<% @courses.each do |course| %>
  <p>
    <%= link_to(course.name, course_path(course)) %>
  </p>
  <% end %>
</div>

  
